<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <style>
        .info{
            color: green;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-6">
                <h1 class="display-4">Welcome {{user.first_name}} {{user.last_name}}!</h1>
            </div>
            <div class="col-3">
                <div class="row justify-content-end align-items-center">
                    <a class="col-6-sm mr-3" href="/edit">Edit My Account</a>
                    <form class="col-6-sm mr-3" action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="form-control" value="Logout">
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <h3 class="row justify-content-center">Quotes</h3>
                {% for quote in quotes %}
                    <div class="row p-2">
                        <div class="lead col-12 mb-2">{{quote.author}}: "{{quote.quote}}"</div>
                        <div class="col-12 mb-2">Posted by: 
                            <a href="/user/{{quote.user.id}}">{{quote.user.first_name}} {{quote.user.last_name}}</a>
                        </div>
                        <div class="col-6 mb-2">{{quote.users_who_liked.count}} people liked this</div>
                        <div class="col-6 mb-2">
                            <form class="form-group" action="/like/{{quote.id}}" method="POST">
                                {% csrf_token %}
                                <input class="form-control" type="submit" value="Like">
                            </form>
                        </div>
                        {% if quote.user == user %}
                            <div class="col-12 text-center">
                                <form class="form-group" action="/delete/{{quote.id}}" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control btn btn-danger w-25" type="submit" value="Delete">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h3 class="row justify-content-center">Add a Quote</h3>
                {% if messages %}
                    <div class="row justify-content-center">
                        <ul>
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form class="form-group" action="/addQuote" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-4" for="author">Author: </label>
                        <input class="form-control col-7" type="text" name="author" id="author">
                    </div>
                    <div class="row mt-2">
                        <label class="col-4" for="quote">Quote: </label>
                        <textarea class="form-control col-7" type="text" name="quote" id="quote" rows="3"></textarea>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <input class="form-control col-4" type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>