<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-6">
                <h1 class="display-4">{{user.first_name}} {{user.last_name}}'s Quotes:</h1>
            </div>
            <div class="col-3">
                <div class="row justify-content-end align-items-center">
                    <a class="col-6-sm mr-3" href="/quotes">Back</a>
                    <form class="col-6-sm mr-3" action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="form-control" value="Logout">
                    </form>
                </div>
            </div>
        </div>
        <hr>
        {% for quote in user.quotes.all %}
            <div class="row p-2">
                <div class="lead col-12 mb-2">{{quote.author}}: "{{quote.quote}}"</div>
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>