<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
    <div class="navbar justify-content-between" style="background-color: #e9ecef;">
        <a class="navbar-brand">Homepage</a>
        <form class="form-inline" action="/logout" method="POST">
            {% csrf_token %}
            <input type="submit" class="form-control btn btn-link" value="Logout">
        </form>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Successful login, welcome {{user.first_name}}!</h1>
    </div>
</body>
</html>